.badge {
  display: inline-block;
  padding: var(--space-1) var(--space-2);
  border-radius: max(var(--radius-2), var(--radius-full));
  box-sizing: border-box;
  font-size: 0.75rem;
  box-shadow: var(--shadow-theme);
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-accent-9);
  color: var(--color-accent-9-contrast);
}

.badge--solid {
  background-color: var(--color-accent-9);
  color: var(--color-accent-9-contrast);

  &.highContrast {
    color: var(--color-gray-1);
    background-color: var(--color-accent-12);
  }
}

.badge--ghost {
  color: var(--color-accent-11);
  background-color: var(--color-accent-4);

  &.highContrast {
    color: var(--color-accent-12);
    background-color: var(--color-accent-3);
  }
}

.badge--outlined {
  background-color: transparent;
  color: var(--color-accent-11);
  border: var(--border-width) solid var(--color-border-accent);

  &.highContrast {
    background-color: transparent;
    color: var(--color-accent-12);
    border: var(--border-width) solid var(--color-border-accent-highContrast);
  }
}
