{
  "trailingComma": "all",
  "printWidth": 180,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "plugins": []
}
