// https://prettier.io/docs/en/cli.html#--with-node-modules
// Prettier CLI will ignore files located in node_modules directory. To opt out from this behavior, use --with-node-modules flag.
package.json