@use '@/styles/lib/mixins';

.menu {
  font-family: Arial, sans-serif;
  display: flex;
  gap: var(--space-4); // Adjust the gap between buttons as needed

  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    flex-direction: row;
  }

  // Menu Item styles
  &--item {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--color-accent-12);
    font-weight: 400;
    background-color: transparent;

    > .iconPrepend,
    > .iconAppend {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: var(--color-accent-5);
    }

    &.active {
      background-color: var(--color-accent-5);
      &:hover {
        background-color: var(--color-accent-6);
      }
    }

    &.highContrast {
      color: var(--color-accent-12);

      &:hover {
        background-color: var(--color-accent-5);
      }

      &.active {
        color: var(--color-accent-1);
        background-color: var(--color-accent-12);
        box-shadow: boxShadowAlpha(var(--color-accent-11));
      }
    }
  }

  &--label {
    color: var(--color-accent-12);
    font-weight: bold;

    &.highContrast {
      color: var(--color-accent-12);
    }
  }
}

.wd-menu {
  &--label {
    @include mixins.breakpoints {
      &-xlarge {
        font-size: var(--font-size-4);
        padding: var(--space-0) var(--space-4);
      }
      &-large {
        font-size: var(--font-size-4);
        padding: var(--space-0) var(--space-4);
      }
      &-medium {
        font-size: var(--font-size-3);
        padding: var(--space-0) var(--space-3);
      }
      &-small {
        font-size: var(--font-size-2);
        padding: var(--space-0) var(--space-2);
      }
    }
  }

  &--item {
    @include mixins.breakpoints {
      &-xlarge {
        height: var(--component-height-xlarge);
        border-radius: max(var(--radius-5), var(--radius-full));
        font-size: var(--font-size-4);
        padding: var(--space-2) var(--space-4);
      }

      &-large {
        height: var(--component-height-large);
        font-size: var(--font-size-4);
        padding: var(--space-1) var(--space-4);
        border-radius: max(var(--radius-4), var(--radius-full));
      }

      &-medium {
        height: var(--component-height-medium);
        font-size: var(--font-size-3);
        padding: var(--space-1) var(--space-3);
        border-radius: max(var(--radius-3), var(--radius-full));
      }

      &-small {
        height: var(--component-height-small);
        font-size: var(--font-size-2);
        padding: var(--space-1) var(--space-2);
        border-radius: max(var(--radius-3), var(--radius-full));
      }
    }
  }
}
