.menu {
  font-family: Arial, sans-serif;
  display: flex;
  gap: var(--space-4); // Adjust the gap between buttons as needed

  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    flex-direction: row;
  }

  // Menu Item styles
  &--item {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--color-accent-12);
    font-weight: 400;
    background-color: transparent;

    > .iconPrepend,
    > .iconAppend {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background-color: var(--color-accent-5);
    }

    &.active {
      background-color: var(--color-accent-5);
      &:hover {
        background-color: var(--color-accent-6);
      }
    }

    &--xlarge {
      height: 48px;
      border-radius: max(var(--radius-5), var(--radius-full));
      font-size: var(--font-size-5);
      padding: var(--space-2) var(--space-4);
    }

    &--large {
      height: 40px;
      font-size: var(--font-size-5);
      padding: var(--space-1) var(--space-4);
      border-radius: max(var(--radius-4), var(--radius-full));
    }

    &--medium {
      font-size: var(--font-size-4);
      padding: var(--space-1) var(--space-3);
      border-radius: max(var(--radius-3), var(--radius-full));
      height: 34px;
    }

    &--small {
      height: 28px;
      font-size: var(--font-size-3);
      border-radius: max(var(--radius-3), var(--radius-full));
      padding: var(--space-1) var(--space-2);
    }

    &.highContrast {
      color: var(--color-accent-12);

      &:hover {
        background-color: var(--color-accent-5);
      }

      &.active {
        color: var(--color-accent-1);
        background-color: var(--color-accent-12);
        box-shadow: boxShadowAlpha(var(--color-accent-11));
      }
    }
  }

  &--label {
    color: var(--color-accent-12);
    font-weight: bold;

    &.highContrast {
      color: var(--color-accent-12);
    }

    &--large {
      font-size: var(--font-size-5);
      padding: var(--space-0) var(--space-5);
    }

    &--xlarge {
      font-size: var(--font-size-5);
      padding: var(--space-0) var(--space-5);
    }
    &--medium {
      font-size: var(--font-size-4);
      padding: var(--space-0) var(--space-4);
    }

    &--small {
      font-size: var(--font-size-3);
      padding: var(--space-0) var(--space-3);
    }
  }
}
