.wrapper {
  // margin-bottom: var(--space-2);
  width: 100%;
}

.textArea {
  font-family: 'Inter';
  width: calc(100% - var(--space-4) * 2);
  padding: var(--space-3);
  border: var(--border-width) solid var(--color-border-accent);
  border-radius: max(var(--radius-4), var(--radius-4));
  outline: none;
  background-color: transparent;
  color: var(--color-gray-12);
  transition: border 0.3s ease;
  // margin-bottom: 20px;
  box-shadow: var(--shadow-theme);

  &--xlarge {
    min-height: var(--component-height-xlarge);
  }
  &--large {
    min-height: var(--component-height-large);
  }
  &--medium {
    min-height: var(--component-height-medium);
  }
  &--small {
    min-height: var(--component-height-small);
  }

  resize: none;
  &--solid {
    border: var(--border-width) solid transparent;
    background-color: var(--color-surface-accent);
    &:focus,
    &:hover {
      border-color: var(--color-accent-9);

      &.highContrast {
        border-color: var(--color-accent-12);
      }
    }
  }

  &--ghost {
    border: var(--border-width) solid var(--color-border-accent);
    background-color: var(--color-surface-accent);
    &:focus,
    &:hover {
      outline: none;
      border-color: var(--color-accent-9);
      background-color: var(--color-surface-accent);

      &.highContrast {
        border-color: var(--color-accent-12);
      }
    }
  }

  &--outlined {
    &:focus,
    &:hover {
      outline: none;
      background-color: transparent;
      border-color: var(--color-accent-9);

      &.highContrast {
        border-color: var(--color-accent-12);
      }
    }
  }

  &.textAreaError {
    border: var(--border-width) solid var(--color-border-error);
    background-color: var(--color-red-surface);
  }

  &.resizable {
    resize: vertical; // Allows vertical resizing
  }
}

.textArea::placeholder {
  color: var(--color-gray-7);
}

.textArea[data-has-value='true']:invalid {
  border: var(--border-width) solid var(--color-border-error);
  background-color: var(--color-red-surface);
  margin-bottom: 0;
}
.error {
  color: var(--color-red-9);
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 0.8rem;
}
