@import '@/styles/lib/functions';

.toast {
  z-index: 9999;
  max-width: 480px;
  position: relative;
  margin: var(--space-2);
  padding: 0 var(--space-4);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);

  opacity: 0;
  border-radius: max(var(--radius-3), var(--radius-full));
  height: 0;

  &--solid {
    background-color: var(--color-accent-9);
    color: var(--color-accent-9-contrast);
  }
  &--ghost {
    background-color: var(--color-accent-4);
    color: var(--color-accent-11);
  }
  &--outlined {
    background-color: transparent;
    color: var(--color-accent-11);
    border: 1px solid var(--color-accent-a7);
  }
  &--translucent {
    color: var(--color-accent-12);
    background-color: opacity(var(--color-accent-12), 95%);
    backdrop-filter: var(--translucent);
    -webkit-backdrop-filter: var(--translucent);
  }
  // transform: translateY(8px);

  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    height 0.2s ease-in-out;

  > .icon {
    width: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: inherit;
  }

  > .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
  }

  > .action {
    width: 32px;
    height: 32px;
    display: flex;
    color: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    aspect-ratio: 1/ 1;

    &:hover {
      background-color: var(--color-accent-4);
      padding: var(--space-2);
      box-sizing: border-box;
      border-radius: max(var(--radius-3), var(--radius-full));
    }
  }
  &.open {
    height: 48px;
    opacity: 1;
    // transform: translateY(0);
  }
}

.toastContainer {
  position: fixed;
  z-index: 9999;

  &.topLeft {
    top: var(--space-4);
    left: var(--space-4);
    bottom: auto;
  }
  &.topRight {
    top: var(--space-4);
    right: var(--space-4);
    bottom: auto;
  }
  &.bottomLeft {
    bottom: var(--space-4);
    top: auto;
    left: var(--space-4);
  }
  &.bottomRight {
    bottom: var(--space-4);
    top: auto;
    right: var(--space-4);
  }
}
