@use '@/styles/lib/mixins.scss';

$padding: 1px;

$border-radius: max(var(--radius-3), var(--radius-full));

@mixin switch-size($height) {
  height: $height;
  width: calc(($height * 1.8));

  .input:checked + .slider::before {
    transform: translateX(calc(($height * 1.8) - calc(#{$height})));
  }
}

.switch {
  position: relative;
  display: inline-block;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: var(--color-accent-9);
  }

  &:focus + .slider {
  }
  &:checked + .slider::before {
    transform: translateX(calc(100% + #{$padding * 2})); // Will be overridden by specific sizes
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: max(var(--radius-3), var(--radius-full));
  background-color: var(--color-gray-7);
  transition: 0.2s;
  // overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    height: calc(100% - #{$padding * 2});
    box-shadow: var(--shadow-2);
    aspect-ratio: 1/1;
    left: $padding;
    bottom: $padding;
    border-radius: calc($border-radius - $padding);
    background-color: var(--color-accent-9-contrast);
    transition: 0.2s;
  }
}

.wd-switch {
  @include mixins.breakpoints {
    &-small {
      @include switch-size(var(--component-input-height-small));
    }

    &-medium {
      @include switch-size(var(--component-input-height-medium));
    }

    &-large {
      @include switch-size(var(--component-input-height-large));
    }

    &-xlarge {
      @include switch-size(var(--component-input-height-xlarge));
    }
  }
}
