@use '@/styles/lib/mixins.scss';

.panelContainer {
  border-radius: max(var(--radius-3), var(--radius-full));
  overflow: hidden;

  &.outlined {
    border: 1px solid var(--color-accent-a6);
  }
}

.item {
  &:not(:last-child) {
    &.outlined {
      border-bottom: 1px solid var(--color-accent-a6);
    }
  }
}

.header {
  background-color: var(--color-accent-a2);
  color: var(--color-accent-12);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--color-accent-a3);
  }
}

.contentWrapper {
  overflow: hidden;
}
.content {
  background-color: var(--color-accent-a2);
  overflow: hidden;
  color: var(--color-accent-12);
  margin-top: -100%;
  transition: margin-top 0.3s ease-in-out;
  &.expanded {
    margin-top: 0;
    &.outlined {
      border-top: 1px solid var(--color-accent-a6);
    }
  }
}

.wd-expansion {
  &-header {
    @include mixins.breakpoints {
      &-small {
        padding: var(--space-2) var(--space-4);
        font-size: var(--font-size-2);
      }
      &-medium {
        padding: var(--space-3) var(--space-4);
        font-size: var(--font-size-3);
      }
      &-large {
        padding: var(--space-4) var(--space-5);
        font-size: var(--font-size-4);
      }
      &-xlarge {
        padding: var(--space-4) var(--space-5);
        font-size: var(--font-size-4);
      }
    }
  }
  &-content {
    &-small {
      padding: var(--space-2) var(--space-4);
      font-size: var(--font-size-2);
    }
    &-medium {
      padding: var(--space-3) var(--space-4);
      font-size: var(--font-size-3);
    }
    &-large {
      padding: var(--space-4) var(--space-5);
      font-size: var(--font-size-4);
    }
    &-xlarge {
      padding: var(--space-4) var(--space-5);
      font-size: var(--font-size-4);
    }
  }
  &-item {
    @include mixins.breakpoints {
      &-small {
        padding: var(--space-2) var(--space-4);
        font-size: var(--font-size-2);
      }
      &-medium {
        padding: var(--space-3) var(--space-4);
        font-size: var(--font-size-3);
      }
      &-large {
        padding: var(--space-4) var(--space-5);
        font-size: var(--font-size-4);
      }
      &-xlarge {
        padding: var(--space-4) var(--space-5);
        font-size: var(--font-size-5);
      }
    }
  }
}
