.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  font-size: var(--font-size-3);
}

.item {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--normal {
    color: var(--color-accent-a6);

    &.active {
      color: var(--color-accent-9);

      &.highContrast {
        // Corrected the nesting here
        color: var(--color-accent-12);
      }
    }

    &.highContrast:not(.active) {
      // Apply high contrast to non-active items
      color: var(--color-accent-a7);
    }
  }

  &--inverse {
    color: var(--color-accent-9);

    &.active {
      color: var(--color-accent-a6);
      &.highContrast {
        color: var(--color-accent-a7);
      }
    }

    &.highContrast:not(.active) {
      color: var(--color-accent-12);
    }
  }
}

.divider {
  color: var(--color-accent-a9);

  &.highContrast {
    color: var(--color-accent-12);
  }
}
