// Base settings
$title-margin: 1rem 0;

// Mixins
@mixin headingStyles($fontSize) {
  font-weight: 400;
  margin: 0;
  font-size: $fontSize;
  color: var(--color-accent-9);

  &.heading--highContrast {
    color: var(--color-accent-12);
  }

  &.heading--light {
    font-weight: light;
  }

  &.heading--normal {
    font-weight: normal;
  }

  &.heading--bold {
    font-weight: bold;
  }

  &.heading--bolder {
    font-weight: bolder;
  }

  &.heading--start {
    text-align: start;
  }
  &.heading--center {
    text-align: center;
  }
  &.heading--end {
    text-align: end;
  }
}

@mixin textStyle($fontSize) {
  font-weight: 400;
  font-size: $fontSize;
  color: var(--color-accent-9);
  &.text--highContrast {
    color: var(--color-accent-12);
  }

  &.text--light {
    font-weight: light;
  }

  &.text--normal {
    font-weight: normal;
  }

  &.text--bold {
    font-weight: bold;
  }

  &.text--bolder {
    font-weight: bolder;
  }
  &.text--start {
    text-align: start;
  }
  &.text--center {
    text-align: center;
  }
  &.text--end {
    text-align: end;
  }
}

@mixin codeStyles($fontSize) {
  font-weight: bold;
  font-size: $fontSize;
  color: var(--color-accent-11);
  background-color: var(--color-accent-4);
  padding: var(--space-1) var(--space-2);
  border-radius: max(var(--radius-3), var(--radius-full));
  &.code--highContrast {
    color: var(--color-accent-12);
    background-color: var(--color-accent-4);
  }

  &.code--light {
    font-weight: light;
  }

  &.code--normal {
    font-weight: normal;
  }

  &.code--bold {
    font-weight: bold;
  }

  &.code--bolder {
    font-weight: bolder;
  }
  &.code--start {
    text-align: start;
  }
  &.code--center {
    text-align: center;
  }
  &.code--end {
    text-align: end;
  }
}

@mixin linkStyles($fontSize) {
  font-weight: bold;
  font-size: $fontSize;
  color: var(--color-accent-12);
  text-decoration: underline;
  cursor: pointer;
  &:hover {
  }
  &.link--highContrast {
    color: var(--color-accent-12);
  }

  &.link--light {
    font-weight: light;
  }

  &.link--normal {
    font-weight: normal;
  }

  &.link--bold {
    font-weight: bold;
  }

  &.link--bolder {
    font-weight: bolder;
  }
  &.link--start {
    text-align: start;
  }
  &.link--center {
    text-align: center;
  }
  &.link--end {
    text-align: end;
  }
}

@mixin gradientStyles($fontSize) {
  display: inline-block;
  position: relative;
  background: linear-gradient(90deg, #915eff, #9eb2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $fontSize;

  &.gradient--light {
    font-weight: light;
  }

  &.gradient--normal {
    font-weight: normal;
  }

  &.gradient--bold {
    font-weight: bold;
  }

  &.gradient--bolder {
    font-weight: bolder;
  }
  &.gradient--start {
    text-align: start;
  }
  &.gradient--center {
    text-align: center;
  }
  &.gradient--end {
    text-align: end;
  }
}

// Titles
@for $i from 1 through 12 {
  .heading--#{$i} {
    @include headingStyles(var(--font-size-#{$i}));
    font-weight: bold;
  }
  .text--#{$i} {
    @include textStyle(var(--font-size-#{$i}));
  }
  .code--#{$i} {
    @include codeStyles(var(--font-size-#{$i}));
  }
  .link--#{$i} {
    @include linkStyles(var(--font-size-#{$i}));
  }
  .gradient--#{$i} {
    @include gradientStyles(var(--font-size-#{$i}));
  }
}
