// Base settings
$title-margin: 1rem 0;

// Mixins
@mixin titleStyles($fontSize, $color: var(--color-accent-12)) {
  font-size: $fontSize;
  margin: $title-margin;
  color: $color;
}

@mixin textStyle($color, $fontSize) {
  font-weight: 400;
  &--small {
    color: $color;
    font-size: var(--font-size-3);
  }
  &--medium {
    color: $color;
    font-size: var(--font-size-4);
  }
  &--large {
    color: $color;
    font-size: var(--font-size-5);
  }
}

// Titles
@for $i from 1 through 6 {
  .title-#{$i} {
    @include titleStyles(var(--font-size-#{11 - $i}));
    font-weight: bold;
  }
  .subtitle-#{$i} {
    @include titleStyles(var(--font-size-#{9 - $i}), var(--color-accent-a11));

    font-weight: 400;
  }
}

// Text styles
.text {
  @include textStyle(var(--color-accent-12), var(--font-size-4));
}
