.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--radius-6);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--horizontal-gutter) / 2);
  margin-right: calc(-1 * var(--horizontal-gutter) / 2);
  row-gap: var(--vertical-gutter);
}

.col {
  box-sizing: border-box; // Add this line
  min-width: 0;
  padding-left: calc(var(--horizontal-gutter) / 2);
  padding-right: calc(var(--horizontal-gutter) / 2);
}

$gutter-horizontal: var(--horizontal-gutter);
$gutter-vertical: var(--vertical-gutter);

@each $break, $size in (xs: 0px, sm: 576px, md: 768px, lg: 992px, xl: 1200px) {
  @if $size != 0 {
    @media (min-width: $size) {
      @for $i from 0 through 24 {
        // Starts from 0 now
        @if $i == 0 {
          .col.#{$break}-#{$i} {
            display: none;
            flex: 0 0 0;
            max-width: 0;
          }
        } @else {
          .col.#{$break}-#{$i} {
            flex: 0 0 calc((100% / 24 * #{$i}) - #{$gutter-horizontal});
            max-width: calc((100% / 24 * #{$i}) - #{$gutter-horizontal});
          }
        }
      }
    }
  } @else {
    @for $i from 0 through 24 {
      @if $i == 0 {
        .col.#{$break}-#{$i} {
          display: none;
          flex: 0 0 0;
          max-width: 0;
        }
      } @else {
        .col.#{$break}-#{$i} {
          flex: 0 0 calc((100% / 24 * #{$i}) - #{$gutter-horizontal});
          max-width: calc((100% / 24 * #{$i}) - #{$gutter-horizontal});
        }
      }
    }
  }
}
