.layout {
  display: flex;
  flex-direction: column;
  &:has(> .layout__sider) {
    flex-direction: row;
  }

  &__header,
  &__footer {
    box-sizing: border-box;
    flex-shrink: 0;
    box-sizing: 'border-box';
    height: var(--appbar-height);
  }

  &__content {
    box-sizing: border-box;
    display: flex;
    flex: 1;
  }

  &__sider {
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
