.layout {
  display: flex;
  flex-direction: column;
  &:has(> .layout__sider) {
    flex-direction: row;
  }

  &__header,
  &__footer {
    flex-shrink: 0;
    box-sizing: 'border-box';
    height: var(--appbar-height);
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__sider {
    flex-shrink: 0;
    width: 200px;
  }
}
