@use '@/styles/lib/functions';
@use '@/styles/lib/mixins';

.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  color: var(--color-accent-9-contrast);
  width: 100%;
  height: 100%;
  flex: 1;

  box-shadow: var(--shadow-theme);

  border-radius: max(var(--radius-4), var(--radius-4));

  &--start {
    text-align: start;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: end;
  }

  &--clickable {
    cursor: pointer;
  }

  &--solid {
    background-color: var(--color-panel);
  }

  &--translucent {
    background-color: functions.opacity(var(--color-panel), 90%);
    backdrop-filter: var(--translucent);
    -webkit-backdrop-filter: var(--translucent);
  }
  &--transparent {
    background-color: transparent;
  }
  img {
    width: 100%;
    object-fit: cover;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);

    &--outlined {
      border-bottom: 1px solid var(--color-gray-a6);
    }

    .title {
      margin: 0;
    }
    .subtitle {
      margin: 0;
      margin-top: var(--space-1);
    }
    .heading-title-wrapper {
      width: 100%;
      height: 100%;
    }
    .heading-action {
      display: flex;
      align-items: center;
    }
  }

  .body {
    .title {
      margin: 0;
      margin-bottom: var(--space-1);
    }
    .content {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    &--outlined {
      border-top: 1px solid var(--color-gray-a6);
    }
  }

  &--outlined {
    border: 1px solid var(--color-gray-a6);
  }
}

.wd-card {
  @include mixins.breakpoints {
    &-small {
      .heading {
        padding: var(--space-2);
      }
      .body {
        padding: var(--space-2);
      }
      .actions {
        padding: var(--space-2);
      }

      .heading:not(.heading--outlined) + .body {
        padding-top: 0;
      }
      .body + .actions:not(.actions--outlined) {
        padding-top: 0;
      }
    }

    &-medium {
      .heading {
        padding: var(--space-4);
      }
      .body {
        padding: var(--space-4);
      }
      .actions {
        padding: var(--space-4);
      }

      .heading:not(.heading--outlined) + .body {
        padding-top: 0;
      }
      .body + .actions:not(.actions--outlined) {
        padding-top: 0;
      }
    }

    &-large {
      .heading {
        padding: var(--space-5);
      }
      .body {
        padding: var(--space-5);
      }
      .actions {
        padding: var(--space-5);
      }

      .heading:not(.heading--outlined) + .body {
        padding-top: 0;
      }
      .body + .actions:not(.actions--outlined) {
        padding-top: 0;
      }
    }
    &-xlarge {
      .heading {
        padding: var(--space-6);
      }
      .body {
        padding: var(--space-6);
      }
      .actions {
        padding: var(--space-6);
      }

      .heading:not(.heading--outlined) + .body {
        padding-top: 0;
      }
      .body + .actions:not(.actions--outlined) {
        padding-top: 0;
      }
    }
  }
}
