.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  color: var(--color-accent-9-contrast);
  height: 100%;
  border-radius: var(--radius-4);

  &--solid {
    background-color: var(--color-panel);
  }

  &--translucent {
    background-color: var(--color-panel-translucent);
  }
  &--transparent {
    background-color: transparent;
  }

  &--small {
    // font-size: var(--font-size-5); // Adjust as necessary

    .heading {
      padding: var(--space-2);
    }
    .body {
      padding: var(--space-2);
    }
    .actions {
      padding: var(--space-2);
    }
  }

  &--medium {
    .heading {
      padding: var(--space-4);
    }
    .body {
      padding: var(--space-4);
    }
    .actions {
      padding: var(--space-4);
    }
  }

  &--large {
    .heading {
      padding: var(--space-5);
    }
    .body {
      padding: var(--space-5);
    }
    .actions {
      padding: var(--space-5);
    }
  }
  &--xlarge {
    .heading {
      padding: var(--space-6);
    }
    .body {
      padding: var(--space-6);
    }
    .actions {
      padding: var(--space-6);
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);

    &--outlined {
      border-bottom: 1px solid var(--color-gray-a6);
    }

    .title {
      margin: 0;
    }
    .subtitle {
      margin: 0;
      margin-top: var(--space-1);
    }
    .heading-action {
      display: flex;
      align-items: center;
    }
  }

  .body {
    .title {
      margin: 0;
      margin-bottom: var(--space-1);
    }
    .content {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    &--outlined {
      border-top: 1px solid var(--color-gray-a6);
    }
  }

  &--outlined {
    box-shadow: 0 0 0 1px var(--color-gray-a6);
    // border: 1px solid var(--color-gray-4);
  }
}
