.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  background-color: var(--color-panel);
  color: var(--color-accent-9-contrast);
  height: 100%;
  border-radius: var(--border-radius-medium);
  &--small {
    // font-size: var(--font-size-5); // Adjust as necessary

    .heading {
      padding: 0.5rem;
    }
    .body {
      padding: 0.5rem;
    }
    .actions {
      padding: 0.5rem;
    }
  }

  &--medium {
    .heading {
      padding: 1rem;
    }
    .body {
      padding: 1rem;
    }
    .actions {
      padding: 1rem;
    }
  }

  &--large {
    .heading {
      padding: 1.5rem;
    }
    .body {
      padding: 1.5rem;
    }
    .actions {
      padding: 1.5rem;
    }
  }
  &--xlarge {
    .heading {
      padding: 2rem;
    }
    .body {
      padding: 2rem;
    }
    .actions {
      padding: 2rem;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--outlined {
      border-bottom: 1px solid var(--color-gray-a6);
    }

    .title {
      margin: 0;
    }
    .subtitle {
      margin: 0;
      margin-top: 0.5rem;
    }
    .heading-action {
      display: flex;
      align-items: center;
    }
  }

  .body {
    .title {
      margin: 0;
    }
    .content {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    &--outlined {
      border-top: 1px solid var(--color-gray-a6);
    }
  }

  &--outlined {
    box-shadow: 0 0 0 1px var(--color-gray-a6);
    // border: 1px solid var(--color-gray-4);
  }
}
