@use '@/styles/lib/mixins.scss';

.button {
  // Layout
  border: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  text-decoration: none;
  justify-content: center;

  color: var(--color-accent-9);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/ 1;
  padding: var(--space-0);
  box-sizing: border-box;

  // Typography
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;

  // Effects and transitions
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  // Pseudo-elements
  &::before,
  &:-webkit-details-marker {
    display: none;
  }
}

a {
  box-sizing: border-box;
}

.wd-iconbutton {
  @include mixins.breakpoints {
    &-large {
      height: 40px;
      font-size: var(--font-size-5);
      border-radius: max(var(--radius-4), var(--radius-full));
    }

    &-xlarge {
      height: 48px;
      border-radius: max(var(--radius-5), var(--radius-full));
      font-size: var(--font-size-5);
    }
    &-medium {
      font-size: var(--font-size-4);
      border-radius: max(var(--radius-3), var(--radius-full));
      height: 34px;
    }
    &-small {
      height: 28px;
      font-size: var(--font-size-3);
      border-radius: max(var(--radius-3), var(--radius-full));
    }
  }
}
