.horizontal {
  height: var(--border-width);
  background-color: var(--color-accent-a6);
  width: 100%;
}

.vertical {
  width: var(--border-width);
  background-color: var(--color-accent-a6);
  height: 100%;
}
