@use '@/styles/lib/tokens/animations.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;

  @include animations.slide-animation('bottom');
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  background-color: var(--color-overlay);
  opacity: 0;
  &.open {
    opacity: 1;
  }
}
.content {
  margin: var(--space-4);
  max-width: 450px;
  box-shadow: var(--shadow-theme);
  border-radius: max(var(--radius-4), var(--radius-4));
  width: 100%;
  overflow: hidden;
  cursor: default;
}

.trigger {
  cursor: pointer; // To indicate that the trigger is clickable
  // You can add more styles for the trigger here
}
