.anchor {
  padding: 0 10px;
  width: 100%;

  font-size: var(--font-size-3);
  border-left: 3px solid var(--color-accent-a4);

  position: relative;
  .indicator {
    position: absolute;
    top: 0;
    left: -3px;
    width: 3px;
    background-color: var(--color-accent-9);
    transition: top 0.3s;
  }

  .anchor-section {
    // margin-bottom: 10px;

    a {
      display: block;
      color: var(--color-gray-12);
      opacity: 0.5;
      text-decoration: none;
      padding: 5px;
      top: 0;
      transition:
        background-color 0.2s,
        opacity 0.2s;
      border-radius: var(--radius-4);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        // background-color: var(--color-gray-12;
        opacity: 1;
        color: var(--color-gray-12);
      }

      &.active {
        // background-color: var(--color-gray-12);
        opacity: 1;
        color: var(--color-gray-12);
      }
    }

    .anchor-subsection {
      margin-left: 20px;

      a {
        font-size: 0.9em;
      }
    }
  }
}
