// Drawer.module.scss

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end; // Place the drawer on the right side
  opacity: 0;
  transition: opacity 0.3s ease;

  &--transparent {
    background-color: transparent;
  }
  &--translucent {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &--right {
    justify-content: flex-end; // Place the drawer on the right side
  }
  &--left {
    justify-content: flex-start; // Place the drawer on the right side
  }
  &.open {
    // You can add a transition effect when the drawer opens
    opacity: 1;
  }
}

.drawer {
  --drawer-header-height: calc(64px * var(--scaling));
  --drawer-footer-height: calc(64px * var(--scaling));
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-panel);

  transition: transform 0.3s ease;
  transform: translateX(100%); // Start offscreen to the right

  &--right {
    transform: translateX(100%); // Start offscreen to the right
    &.outlined {
      border-left: 1px solid var(--color-gray-a6);
    }
  }
  &--left {
    transform: translateX(-100%); // Start offscreen to the right
    &.outlined {
      border-right: 1px solid var(--color-gray-a6);
    }
  }
  &.open {
    transform: translateX(0); // Move into view
  }
  &.has-header .content {
    top: var(--drawer-header-height);
  }

  &.has-footer .content {
    bottom: var(--drawer-footer-height);
  }
}

.trigger {
  cursor: pointer;
  // Add styling for the drawer trigger as needed
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  height: var(--drawer-header-height);
  padding: var(--space-4);

  background-color: var(--color-panel);
  border-bottom: 1px solid var(--color-gray-a6);
  gap: var(--space-2);
  > .header-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  > .header-action {
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--drawer-header-height);
  padding: var(--space-4);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--color-panel);
  border-top: 1px solid var(--color-gray-a6);
  bottom: 0;
}

.content {
  padding: var(--space-4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;

  /* Initially hide the scrollbar */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    transition: background-color-color 0.3s ease-in-out;
  }

  &:hover {
    /* Customize the scrollbar appearance (This is for webkit browsers) */
    &::-webkit-scrollbar-track {
      background-color: var(--color-gray-a3);
      border-radius: max(var(--radius-3), var(--radius-full));
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-gray-a8);
      border-radius: max(var(--radius-3), var(--radius-full));
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-gray-a9);
      border-radius: max(var(--radius-3), var(--radius-full));
    }
  }

  /* Customize the scrollbar appearance (This is for webkit browsers) */
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
    transition: background-color-color 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
  }
}
