.box {
  display: flex;
  box-sizing: border-box;

  &--row {
    flex-direction: row;
  }
  &--column {
    flex-direction: column;
  }
}

@for $i from 0 through 9 {
  .box--#{$i} {
    gap: var(--space-#{$i});
  }
}
