@use '@/styles/lib/mixins.scss';

.wrapper {
  margin-bottom: var(--space-2);
}

.checkbox {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;

  &--disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &--checked {
    .checkmark {
      transition: background-color 0.2s;
      box-shadow: inset 0 0 0 1px var(--color-accent-9);
      // ... and any other styles you want when the custom checkbox is checked
    }
  }
}

.error {
  color: var(--color-red-9);
  height: 16px;
  margin-top: 4px;
  font-size: 0.8rem;
}

.input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;

  &:checked + .checkmark {
    color: var(--color-accent-9-contrast);
    background-color: var(--color-accent-9); // fallback to #2196F3 if no accent color set

    &::after {
      display: block;
    }
  }
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/ 1;
  height: 100%;
  padding: var(--space-1);
  box-sizing: border-box;

  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--color-gray-a7);
  border-radius: max(var(--radius-3), var(--radius-full));
  transition: background-color 0.2s;
}

.wd-checkbox {
  @include mixins.breakpoints {
    &-small {
      height: 16px;

      .label {
        font-size: var(--font-size-3);
        padding-left: var(--space-2);
        &--error {
          color: var(--color-red-9);
        }
      }
    }

    &-medium {
      height: 24px;

      .label {
        font-size: var(--font-size-4);
        padding-left: var(--space-2);
        &--error {
          color: var(--color-red-9);
        }
      }
    }

    &-large {
      height: 32px;

      .label {
        font-size: var(--font-size-5);
        padding-left: var(--space-2);
        &--error {
          color: var(--color-red-9);
        }
      }
    }

    &-xlarge {
      height: 36px;

      .label {
        font-size: var(--font-size-5);
        padding-left: var(--space-2);
        &--error {
          color: var(--color-red-9);
        }
      }
    }
  }
}
