@use '@/styles/lib/mixins.scss';

.list {
  display: flex;
  gap: var(--space-4);
  justify-content: space-between;
}
.content {
}
.trigger {
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--color-accent-9);
  background-color: transparent;

  // background-color: rgba(var(--color-accent-90), 0.2);

  &:hover {
    background-color: var(--color-accent-4);
  }

  &.active {
    // background-color: rgba(var(--color-accent-80), 0.2);
    background-color: var(--color-accent-9);
    color: var(--color-accent-9-contrast);
  }

  &.highContrast {
    color: var(--color-accent-12);
    &:hover {
      background-color: var(--color-accent-5);
    }

    &.active {
      color: var(--color-accent-1);
      background-color: var(--color-accent-12);
      box-shadow: boxShadowAlpha(var(--color-accent-11));
    }
  }
}

.wt-tab {
  &--trigger {
    @include mixins.breakpoints {
      &-xlarge {
        height: var(--component-height-xlarge);
        border-radius: max(var(--radius-5), var(--radius-full));
        font-size: var(--font-size-4);
        padding: var(--space-2) var(--space-4);
      }
      &-large {
        height: var(--component-height-large);
        font-size: var(--font-size-4);
        padding: var(--space-1) var(--space-4);
        border-radius: max(var(--radius-4), var(--radius-full));
      }
      &-medium {
        height: var(--component-height-medium);
        font-size: var(--font-size-3);
        padding: var(--space-1) var(--space-3);
        border-radius: max(var(--radius-3), var(--radius-full));
      }
      &-small {
        height: var(--component-height-small);
        font-size: var(--font-size-2);
        border-radius: max(var(--radius-3), var(--radius-full));
        padding: var(--space-1) var(--space-2);
      }
    }
  }
}
