@use '@/styles/lib/mixins.scss';

.listWrapper {
  display: flex;
  position: relative;
  align-items: center;
  // border-bottom: 1px solid var(--color-accent-a6);
}
.list {
  display: flex;
  position: relative;
}

.content {
}

.trigger {
  display: flex;
  z-index: 1;
  align-items: center;
  appearance: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-gray-a6);
  background-color: transparent;

  padding-bottom: var(--space-1);
  padding-top: var(--space-1);

  .content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--outlined {
    border-bottom: 1px solid var(--color-accent-a6);
    transition:
      color 0.3s ease-in-out,
      box-shadow 0.1s ease-in-out;

    &:hover {
      color: var(--color-gray-12);
    }
    &.active {
      box-shadow: 0 3px 0 -1px var(--color-accent-9);
      color: var(--color-gray-12);
    }

    &.highContrast {
      &.active {
        box-shadow: 0 3px 0px -1px var(--color-accent-12);
        color: var(--color-gray-12);
      }
    }
  }

  &--solid {
    transition: background-color 0.1s ease-in-out;
    &:hover {
      color: var(--color-accent-9);
    }
    &.active {
      .content {
        background-color: var(--color-accent-9);
        color: var(--color-accent-9-contrast);
      }
    }

    &.highContrast {
      &.active {
        .content {
          background-color: var(--color-accent-12);
          color: var(--color-accent-1);
        }
      }
    }
  }
}

.wt-tab {
  &--trigger {
    @include mixins.breakpoints {
      &-xlarge {
        .content {
          height: var(--component-height-xlarge);
          border-radius: max(var(--radius-2), var(--radius-full));
          font-size: var(--font-size-4);
          padding: var(--space-2) var(--space-4);
        }
      }
      &-large {
        .content {
          height: var(--component-height-large);
          border-radius: max(var(--radius-2), var(--radius-full));
          font-size: var(--font-size-4);
          padding: var(--space-1) var(--space-4);
        }
      }
      &-medium {
        .content {
          height: var(--component-height-medium);
          border-radius: max(var(--radius-3), var(--radius-full));
          font-size: var(--font-size-3);
          padding: var(--space-1) var(--space-3);
        }
      }
      &-small {
        .content {
          height: var(--component-height-small);
          border-radius: max(var(--radius-3), var(--radius-full));
          font-size: var(--font-size-2);
          padding: var(--space-1) var(--space-2);
        }
      }
    }
  }
}

.menuBackdrop {
  position: absolute;
  top: var(--block-top);
  left: var(--block-left);
  height: var(--block-height);
  width: var(--block-width);
  // transform: translateY(-50%);
  background-color: var(--color-accent-4);
  border-radius: max(var(--radius-3), var(--radius-full));
  backdrop-filter: var(--translucent);
  -webkit-backdrop-filter: var(--translucent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.75, 0, 0, 1);
}
