@use '@/styles/lib/mixins.scss';

.listWrapper {
  display: flex;
  position: relative;
  align-items: center;
  // border-bottom: 1px solid var(--color-accent-a6);
}
.list {
  display: flex;
  position: relative;
}
.content {
}
.trigger {
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: content-box;
  color: var(--color-gray-a6);
  background-color: transparent;
  border-bottom: 1px solid var(--color-accent-a6);
  // box-shadow: 0 1px 0px 0px var(--color-accent-a6);

  padding-bottom: var(--space-2);
  padding-top: var(--space-2);

  transition:
    color 0.3s ease-in-out,
    box-shadow 0.1s ease-in-out;

  &:hover {
    color: var(--color-gray-12);
  }
  &.active {
    box-shadow: 0 3px 0 -1px var(--color-accent-9);
    // border-bottom: 1px solid var(--color-accent-a6);
    color: var(--color-gray-12);
  }

  &.highContrast {
    &.active {
      box-shadow: 0 3px 0px -1px var(--color-accent-12);
      color: var(--color-gray-12);
    }
  }
}

.wt-tab {
  &--trigger {
    @include mixins.breakpoints {
      &-xlarge {
        height: var(--component-height-xlarge);
        font-size: var(--font-size-4);
        padding: var(--space-2) var(--space-4);
      }
      &-large {
        height: var(--component-height-large);
        font-size: var(--font-size-4);
        padding: var(--space-1) var(--space-4);
      }
      &-medium {
        height: var(--component-height-medium);
        font-size: var(--font-size-3);
        padding: var(--space-1) var(--space-3);
      }
      &-small {
        height: var(--component-height-small);
        font-size: var(--font-size-2);
        padding: var(--space-1) var(--space-2);
      }
    }
  }
}

.menuBackdrop {
  z-index: -1;
  position: absolute;
  top: var(--block-top);
  left: var(--block-left);
  height: var(--block-height);
  width: var(--block-width);
  // transform: translateY(-50%);
  background-color: var(--color-accent-4);
  border-radius: max(var(--radius-3), var(--radius-full));
  backdrop-filter: var(--translucent);
  -webkit-backdrop-filter: var(--translucent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.75, 0, 0, 1);
}
