.wrapper {
  margin-bottom: 0.5rem;

  &.large {
    .label {
      font-size: var(--font-size-4);
      margin-bottom: 0.25rem;
    }
  }

  &.small {
    .label {
      font-size: var(--font-size-2);
      margin-bottom: 0.25rem;
    }
  }
}
.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 190px;
  border: 2px solid transparent;
  border-radius: 8px;
  &.block {
    width: 100%;
    max-width: 100%;
  }

  &.large {
    .input {
      height: 50px;
      padding: 0 1rem;
    }
  }

  &.small {
    .input {
      height: 30px;
      padding: 0 0.5rem;
    }
  }
}
.label {
  font-size: var(--font-size-3);
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
}
.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  border-color: var(--color-gray-6);
  color: var(--color-accent-9-contrast);
  transition: border 0.3s ease;
  margin-bottom: 20px;

  &.hasPrependIcon {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  &::placeholder {
    color: var(--color-gray-8);
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--color-accent-9);
    background-color: var(--color-surface-accent);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }

  &:valid {
    // border: 2px solid var(--color-primary);
  }
  &:disabled {
    background-color: var(--color-surface-accent); // lightens the dark background slightly
    color: darken(black, 10%); // darkens the text color slightly
    pointer-events: none;
    cursor: not-allowed; // shows a not-allowed cursor when hovered
    opacity: 0.7; // reduces the opacity
  }
}

.input[data-has-value='true']:invalid {
  border: 2px solid var(--color-red-9);
  background-color: var(--color-red-surface);
  margin-bottom: 0;
}

.iconPrepend {
  position: absolute;
  left: 1rem;
  fill: var(--color-accent-9);
  width: 1rem;
  height: 1rem;
  margin-bottom: 20px;
}

.iconAppend {
  position: absolute;
  right: 1rem;
  fill: var(--color-accent-9);
  width: 1rem;
  height: 1rem;
  margin-bottom: 20px;
}

.error {
  color: var(--color-red-9);
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 0.8rem;
}

.error.active {
  display: block;
}
