@use '@/styles/lib/mixins.scss';

.wrapper {
  width: 100%;
  margin-bottom: var(--space-2);
}
.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 190px;
  border: 1px solid transparent;
  border-radius: var(--radius-4);
  &.block {
    width: 100%;
    max-width: 100%;
  }
}

.input {
  width: 100%;
  line-height: 28px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: max(var(--radius-3), var(--radius-full));
  outline: none;
  background-color: transparent;
  border-color: var(--color-gray-6);
  color: var(--color-gray-12);
  transition: border 0.3s ease;
  margin-bottom: 20px;

  &--solid {
    &:focus,
    &:hover {
      outline: none;
      border-color: var(--color-accent-9);
      // background-color: var(--color-surface-accent);
      // box-shadow: 0 0 0 4px var(--color-accent-9a9);
    }
  }

  &--ghost {
    &:focus,
    &:hover {
      outline: none;
      border-color: var(--color-accent-9);
      background-color: var(--color-surface-accent);
      // box-shadow: 0 0 0 4px var(--color-accent-a9);
    }
  }
  &.hasPrependIcon {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  &::placeholder {
    color: var(--color-gray-8);
  }

  &:valid {
    // border: 2px solid var(--color-solid);
  }
  &:disabled {
    background-color: var(--color-surface-accent); // lightens the dark background slightly
    color: darken(black, 10%); // darkens the text color slightly
    pointer-events: none;
    cursor: not-allowed; // shows a not-allowed cursor when hovered
    opacity: 0.7; // reduces the opacity
  }
}

.input[data-has-value='true']:invalid {
  border: 1px solid var(--color-red-9);
  background-color: var(--color-red-surface);
  margin-bottom: 0;
}

.iconPrepend {
  position: absolute;
  left: var(--space-4);
  color: var(--color-accent-9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.iconAppend {
  position: absolute;
  right: var(--space-4);
  color: var(--color-accent-9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.error {
  color: var(--color-red-9);
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 0.8rem;
}

.error.active {
  display: block;
}

.input::placeholder {
  color: var(--color-gray-7);
}

.wd-textfield {
  &--group {
    @include mixins.breakpoints {
      &-xlarge {
        .input {
          height: 48px;
          padding: var(--space-1) var(--space-4);

          &::placeholder {
          }
        }
      }

      &-large {
        .input {
          height: 40px;
          padding: var(--space-1) var(--space-4);
          &::placeholder {
          }
        }
      }

      &-medium {
        .input {
          height: 32px;
          padding: var(--space-1) var(--space-3);
          &::placeholder {
          }
        }
      }
      &-small {
        .input {
          height: 24px;
          padding: var(--space-1) var(--space-3);
          &::placeholder {
          }
        }
      }
    }
  }
}
