@use '@/styles/lib/mixins.scss';

.table {
  width: 100%;
  font-size: var(--font-size-4);
  color: var(--color-gray-12);
  border-collapse: collapse;
}

.root {
  width: 100%;
  display: table;
}

.header,
.body {
  border-bottom: 1px solid var(--color-gray-a6);
}

.row {
  &:hover {
    background-color: var(--color-gray-a5);
  }
}

.column {
  // &:hover {
  //   background-color: var(--color-gray-a5);
  // }
}

.columnHeaderCell,
.rowHeaderCell,
.cell {
  padding: 8px;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid var(--color-gray-a5);

  &:hover::after {
    background-color: var(--color-gray-a5);
  }
}

.columnHeaderCell {
  font-weight: 600;
  //   background-color: var(--color-gray-a3);
}

.wd-table {
  @include mixins.breakpoints {
    &-small {
      font-size: var(--font-size-3);
    }
    &-medium {
      font-size: var(--font-size-4);
    }
    &-large {
      font-size: var(--font-size-5);
    }
    &-xlarge {
      font-size: var(--font-size-5);
    }
  }
}
