// Avatar.module.scss
@use '@/styles/lib/mixins.scss';

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: max(var(--radius-3), var(--radius-full));
  background-color: var(--color-accent-4);
  color: var(--color-accent-9);
  font-weight: bold;
  overflow: hidden;

  img {
    border-radius: max(var(--radius-3), var(--radius-full));
    width: 100%;
    height: 100%;
  }
}

.wd-avatar {
  @include mixins.breakpoints {
    &-small {
      width: var(--component-height-small);
      height: var(--component-height-small);
      font-size: var(--font-size-2);
    }

    &-medium {
      width: var(--component-height-medium);
      height: var(--component-height-medium);
      font-size: var(--font-size-3);
    }

    &-large {
      width: var(--component-height-large);
      height: var(--component-height-large);
      font-size: var(--font-size-4);
    }

    &-xlarge {
      width: var(--component-height-xlarge);
      height: var(--component-height-xlarge);
      font-size: var(--font-size-4);
    }
  }
}
