// Avatar.module.scss

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: max(var(--radius-3), var(--radius-full));
  background-color: var(--color-accent-4);
  color: var(--color-accent-9);
  font-weight: bold;
  overflow: hidden;

  img {
    border-radius: max(var(--radius-3), var(--radius-full));
    width: 100%;
    height: 100%;
  }

  &.small {
    width: 40px;
    height: 40px;
    font-size: var(--font-size-4);
  }

  &.medium {
    width: 60px;
    height: 60px;
    font-size: var(--font-size-6);
  }

  &.large {
    width: 81px;
    height: 81px;
    font-size: var(--font-size-8);
  }

  &.xlarge {
    width: 100px;
    height: 100px;
    font-size: var(--font-size-8);
  }
}
