.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 200px;
  background-color: var(--color-gray-12);
  color: var(--color-gray-1);
  text-align: center;
  border-radius: var(--radius-4);
  padding: var(--space-3);
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-3);
}

.tooltip .ellipsisContent {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-gray-12) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
