.scrollArea {
  &.vertical {
    overflow-y: scroll;
    padding-right: 3px;
    margin-right: -3px; // Compensate with negative margin
  }

  &.horizontal {
    overflow-y: hidden;
    overflow-x: scroll;

    padding-bottom: 3px; // Reserve space for horizontal scrollbar (if needed)
    margin-bottom: -3px; // Compensate with negative margin
  }
  /* Initially hide the scrollbar */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    transition: background-color-color 0.3s ease-in-out;
  }

  &:hover {
    /* Customize the scrollbar appearance (This is for webkit browsers) */
    &::-webkit-scrollbar-track {
      background-color: var(--color-gray-a3);
      border-radius: max(var(--radius-3), var(--radius-full));
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-gray-a8);
      border-radius: max(var(--radius-3), var(--radius-full));
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-gray-a9);
      border-radius: max(var(--radius-3), var(--radius-full));
    }
  }

  /* Customize the scrollbar appearance (This is for webkit browsers) */
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
    transition: background-color-color 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
    border-radius: max(var(--radius-3), var(--radius-full));
  }
}
