// Image.module.scss

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: max(var(--radius-3), var(--radius-full));
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
  .noPlaceholder {
    transition: opacity 0.3s;
  }

  .mainImage {
    opacity: 0;

    &.loaded {
      visibility: visible;
      opacity: 1;
    }
  }

  .placeholderImage {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;

    &.loaded {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }
  }
}
