@use '@/styles/lib/mixins.scss';

.tree {
  list-style: none;
  line-height: 1.5;
}

.treeLabel {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;
  &:hover {
    background-color: var(--color-accent-4);
  }

  &:active {
    background-color: var(--color-accent-4);
  }
}

.indent {
  display: inline-block;
  width: var(--space-5);
  // You can set a default width here or just leave it to be set inline
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-treelabel: center;
  margin-right: var(--space-2);
}

.treeItem {
  color: var(--gray-1);
  // Ensure full width hover effect
  display: block;
  width: 100%;
  &.hovered {
    background-color: var(--color-accent-4);
  }
}

.treeNested {
  padding-left: 0; // Remove padding since indentation will be handled by the IndentSpan
  overflow: hidden;
  transition: all 0.3s;
}

.wd-tree {
  @include mixins.breakpoints {
    &-xlarge {
      .treeLabel {
        height: var(--component-height-xlarge);
        font-size: var(--font-size-4);
      }
    }
    &-large {
      .treeLabel {
        height: var(--component-height-large);
        font-size: var(--font-size-4);
      }
    }
    &-medium {
      .treeLabel {
        height: var(--component-height-medium);
        font-size: var(--font-size-3);
      }
    }
    &-small {
      .treeLabel {
        height: var(--component-height-small);
        font-size: var(--font-size-2);
      }
    }
  }
}
