@use '@/styles/lib/mixins.scss';

.tree {
  list-style: none;
  line-height: 1.5;
}

.treeLabelWrapper {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;
  &:hover {
    background-color: var(--color-accent-4);
  }

  &:active {
    background-color: var(--color-accent-4);
  }
}

.treeLabel {
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;

  > .label {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}

.indent {
  display: inline-block;
  width: var(--space-5);
  // You can set a default width here or just leave it to be set inline
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--space-2);
}

.treeItem {
  color: var(--color-gray-12);
  // Ensure full width hover effect
  display: block;
  width: 100%;
  &.hovered {
    background-color: var(--color-accent-4);
  }
}

.treeNested {
  padding-left: 0;
  transition: all 0.3s;
}

.wd-tree {
  @include mixins.breakpoints {
    &-xlarge {
      .treeLabelWrapper {
        height: var(--component-height-xlarge);
        font-size: var(--font-size-4);
        padding-left: var(--space-3);
      }
    }
    &-large {
      .treeLabelWrapper {
        height: var(--component-height-large);
        font-size: var(--font-size-4);
        padding-left: var(--space-3);
      }
    }
    &-medium {
      .treeLabelWrapper {
        height: var(--component-height-medium);
        font-size: var(--font-size-3);
        padding-left: var(--space-2);
      }
    }
    &-small {
      .treeLabelWrapper {
        height: var(--component-height-small);
        font-size: var(--font-size-2);
        padding-left: var(--space-1);
      }
    }
  }
}

.dragLine {
  height: 2px;
  background-color: var(--color-accent-12); // Or any indicator color
  position: absolute;
  width: 100%;
  z-index: 9999; // Use a high number to ensure it's on top
}

.dragLineAbove {
  top: 0;
  margin-top: -1px;
}

.dragLineBelow {
  bottom: 0;
  margin-bottom: -1px;
}
