.kbdStyle {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-12);
  background-color: var(--color-gray-3);
  padding: var(--space-0) var(--space-2);
  border-radius: var(--radius-2);
  letter-spacing: -0.025em;
  word-spacing: -0.1em;
  font-size: var(--font-size-2);
  font-weight: 400;
  font-family: 'Inter';
  box-shadow:
    inset 0 -0.05em 0.5em var(--color-gray-a2),
    inset 0 0.05em var(--color-gray-6),
    inset 0 0.25em 0.5em var(--color-gray-a2),
    inset 0 -0.05em var(--color-gray-a6),
    0 0 0 0.05em var(--color-gray-a5),
    0 0.08em 0.17em var(--color-gray-a7);
}
