.slider {
  position: relative;
  height: 8px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  //   &--vertical {
  //     width: 30px;
  //     height: 100%;
  //     // Other styles for vertical orientation...
  //   }

  .track {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--color-gray-6);
    overflow: hidden;
  }

  .range {
    position: absolute;
    height: 100%;
    background-color: var(--color-accent-9);
  }

  .thumb {
    position: absolute;
    height: 150%;
    aspect-ratio: 1/1;
    background-color: var(--color-accent-9-contrast);
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
  }
}
