.slider {
  position: relative;
  height: 4px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  &--vertical {
    width: 4px;
    height: 100%;
    // Adjust other styles as needed for vertical orientation...
  }

  .track {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: max(var(--radius-3), var(--radius-full));
    background-color: var(--color-gray-6);
    overflow: hidden;
  }

  .range {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: max(var(--radius-3), var(--radius-full));
    background-color: var(--color-accent-9);
  }

  .thumb {
    position: absolute;
    height: 16px;
    aspect-ratio: 1/1;
    background-color: var(--color-accent-9-contrast);

    border: var(--border-width) solid var(--color-border);
    border-radius: max(var(--radius-3), var(--radius-full));
    box-shadow: var(--shadow-theme);
    transform: translate(-50%, -50%);
    cursor: grab;
  }
}
