.button {
  // Layout
  padding: var(--space-0) var(--space-3);
  border: none;
  vertical-align: middle;
  border-radius: max(var(--radius-3), var(--radius-full));
  height: 34px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;

  // Typography
  font-weight: 400;
  font-size: var(--font-size-4);
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;

  // Effects and transitions
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;

  // States and variations
  &--block {
    width: 100%;
  }

  &--large {
    height: 40px;
    font-size: var(--font-size-4);
    padding: var(--space-0) var(--space-4);
    border-radius: max(var(--radius-4), var(--radius-full));
  }

  &--xlarge {
    height: 48px;
    border-radius: max(var(--radius-5), var(--radius-full));
    font-size: var(--font-size-4);
    padding: var(--space-0) var(--space-6);
  }

  &--small {
    height: 28px;
    font-size: var(--font-size-2);
    border-radius: max(var(--radius-3), var(--radius-full));
    padding: var(--space-0) var(--space-2);
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  // Pseudo-elements
  &::before,
  &:-webkit-details-marker {
    display: none;
  }
}
