@use '@/styles/lib/mixins.scss';

.button {
  // Layout
  border: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  text-decoration: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  justify-content: center;

  &--start {
    justify-content: start;
  }
  &--end {
    justify-content: end;
  }
  // Typography
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;

  // Effects and transitions
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;

  // States and variations
  &--block {
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  > .icon-append {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > .icon-prepend {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  // Pseudo-elements
  &::before,
  &:-webkit-details-marker {
    display: none;
  }
}

a {
  box-sizing: border-box;
}

.wt-button {
  @include mixins.breakpoints {
    &-xlarge {
      height: 48px;
      border-radius: max(var(--radius-5), var(--radius-full));
      font-size: var(--font-size-6);
      padding: var(--space-2) var(--space-5);
    }

    &-large {
      height: 40px;
      font-size: var(--font-size-5);
      padding: var(--space-1) var(--space-4);
      border-radius: max(var(--radius-4), var(--radius-full));
    }
    &-medium {
      font-size: var(--font-size-4);
      padding: var(--space-1) var(--space-3);
      border-radius: max(var(--radius-3), var(--radius-full));
      height: 34px;
    }
    &-small {
      height: 28px;
      font-size: var(--font-size-3);
      border-radius: max(var(--radius-3), var(--radius-full));
      padding: var(--space-1) var(--space-2);
    }
  }
}
