.button--ghost {
  color: var(--color-accent-11);
  background-color: var(--color-accent-4);

  &:hover {
    background-color: var(--color-accent-5);
  }

  &:active {
    background-color: var(--color-accent-6);
    // box-shadow: boxShadowAlpha(var(--color-accent-11));
  }

  &:focus {
  }
  > .icon-prepend,
  > .icon-append {
    color: var(--color-accent-11);
  }

  &.highContrast {
    color: var(--color-accent-12);
    background-color: var(--color-accent-3);

    &:hover {
      background-color: var(--color-accent-4);
    }

    &:active {
      background-color: var(--color-accent-5);

      // box-shadow: boxShadowAlpha(var(--color-accent-11));
    }

    &:focus {
    }
    > .icon-prepend,
    > .icon-append {
      color: var(--color-accent-12);
    }
  }
}
