.button--icon {
  color: var(--color-accent-90);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  // background-color: var(--color-accent-40);

  &:hover {
    background-color: var(--color-accent-50);
  }

  &:active {
    // background-color: rgba(var(--color-accent-80), 0.2);
    box-shadow: boxShadowAlpha(var(--color-accent-90));
  }

  &:focus {
    // box-shadow: boxShadow(var(--color-accent-90));
  }
  > .icon-prepend {
    fill: var(--color-accent-90);
  }

  > .icon-append {
    fill: var(--color-accent-90);
  }
}
