.button--outlined {
  background-color: transparent;
  transition: box-shadow 0.08s ease-in;

  background-color: transparent;
  color: var(--color-accent-11);
  border: 1px solid var(--color-accent-a10);

  &:hover {
    border-color: var(--color-accent-a11);
  }

  &:active {
    border-color: var(--color-accent-a9);
    box-shadow: boxShadowAlpha(var(--color-accent-11));
  }

  &:focus {
  }

  > .icon-prepend {
    color: var(--color-accent-11);
  }

  > .icon-append {
    color: var(--color-accent-11);
  }

  &.button--high-contrast {
    background-color: transparent;
    transition: box-shadow 0.08s ease-in;

    background-color: transparent;
    color: var(--color-accent-12);
    border: 1px solid var(--color-accent-a9);

    &:hover {
      border-color: var(--color-accent-a10);
    }

    &:active {
      border-color: var(--color-accent-a8);
      box-shadow: boxShadowAlpha(var(--color-accent-12));
    }

    &:focus {
    }

    > .icon-prepend {
      color: var(--color-accent-12);
    }

    > .icon-append {
      color: var(--color-accent-12);
    }
  }
}
