.button--outlined {
  background-color: transparent;
  transition: box-shadow 0.08s ease-in;

  background-color: transparent;
  color: var(--color-accent-11);
  border: var(--border-width) solid var(--color-border-accent);

  &:hover {
    background-color: var(--color-accent-a2);
    border-color: var(--color-accent-a7);
  }

  &:active {
    background-color: var(--color-accent-a3);
    border-color: var(--color-accent-a6);
  }

  &:focus {
  }

  > .icon-prepend {
    color: var(--color-accent-11);
  }

  > .icon-append {
    color: var(--color-accent-11);
  }

  &.highContrast {
    background-color: transparent;
    transition: box-shadow 0.08s ease-in;
    color: var(--color-accent-12);
    border: var(--border-width) solid var(--color-border-accent-highContrast);

    &:hover {
      background-color: var(--color-accent-a3);
      border-color: var(--color-accent-a11);
      // filter: contrast(0.88) saturate(1.3) brightness(1.18);
      // -webkit-filter: contrast(0.88) saturate(1.3) brightness(1.18);
    }

    &:active {
      background-color: var(--color-accent-a4);
      border-color: var(--color-accent-a9);
      // filter: brightness(0.95) saturate(1.2);
      // -webkit-filter: brightness(0.95) saturate(1.2);
    }

    &:focus {
    }

    > .icon-prepend {
      color: var(--color-accent-12);
    }

    > .icon-append {
      color: var(--color-accent-12);
    }
  }
}
