.button--primary {
  color: var(--color-accent-90-contrast);
  background-color: var(--color-accent-90);
  &:hover {
    background-color: var(--color-accent-100);
  }

  &:active {
    // border-color: var(--color-accent-80);
    background-color: var(--color-accent-80);
    box-shadow: boxShadowAlpha(var(--color-accent-90));
  }

  &:focus {
  }
  > .icon-prepend {
    color: var(--color-accent-90);
  }

  > .icon-append {
    color: var(--color-accent-90);
  }
}
