.button--solid {
  color: var(--color-accent-9-contrast);
  background-color: var(--color-accent-9);
  &:hover {
    background-color: var(--color-accent-10);
  }

  &:active {
    background-color: var(--color-accent-8);
    // box-shadow: boxShadowAlpha(var(--color-accent-9));
  }

  &:focus {
  }
  > .icon-prepend {
    color: var(--color-accent-9-contrast);
  }

  > .icon-append {
    color: var(--color-accent-9-contrast);
  }

  &.button--high-contrast {
    color: var(--color-accent-1);
    background-color: var(--color-accent-12);

    &:hover {
      background-color: var(--color-accent-12);
      filter: contrast(0.88) saturate(1.3) brightness(1.18);
      -webkit-filter: contrast(0.88) saturate(1.3) brightness(1.18);
    }

    &:active {
      background-color: var(--color-accent-12);
      filter: brightness(0.95) saturate(1.2);
      -webkit-filter: brightness(0.95) saturate(1.2);
      // box-shadow: boxShadowAlpha(var(--color-accent-11));
    }

    > .icon-prepend,
    > .icon-append {
      color: var(--color-accent-1);
    }
  }
}
