.button--transparent {
  color: var(--color-accent-9);
  background-color: transparent;

  &:hover {
    background-color: var(--color-accent-a4);
  }

  &:active {
    background-color: var(--color-accent-a5);
  }

  &:focus {
  }
  > .icon-prepend {
    color: var(--color-accent-9);
  }

  > .icon-append {
    color: var(--color-accent-9);
  }

  &.highContrast {
    color: var(--color-accent-12);
    background-color: transparent;

    &:hover {
      background-color: var(--color-accent-a4);
    }

    &:active {
      background-color: var(--color-accent-a5);
    }

    &:focus {
    }
    > .icon-prepend {
      color: var(--color-accent-12);
    }

    > .icon-append {
      color: var(--color-accent-12);
    }
  }
}
