.button--transparent {
  color: var(--color-accent-9);
  background-color: transparent;

  &:hover {
    background-color: var(--color-accent-4);
  }

  &:active {
    background-color: var(--color-accent-3);
    // box-shadow: boxShadowAlpha(var(--color-accent-9));
  }

  &:focus {
  }
  > .icon-prepend {
    color: var(--color-accent-9);
  }

  > .icon-append {
    color: var(--color-accent-9);
  }

  &.button--high-contrast {
    color: var(--color-accent-12);
    background-color: transparent;

    &:hover {
      background-color: var(--color-accent-4);
    }

    &:active {
      // // box-shadow: boxShadowAlpha(var(--color-accent-12));
    }

    &:focus {
    }
    > .icon-prepend {
      color: var(--color-accent-12);
    }

    > .icon-append {
      color: var(--color-accent-12);
    }
  }
}
